@font-face {
    font-family: 'cleonlight';
    src: url('cleon-light-webfont.woff2') format('woff2'), url('cleon-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#theHeading {
    font-family: 'cleonlight', sans-serif;
    font-size: 50px;
    text-align: center;
}

#theHeading2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
}