/* variables */
:root {
	--primary: #11998e;
	--secondary: #38ef7d;
	--white: #fff;
	--gray: #9b9b9b;
}
/* variables */

/* fonts */
@font-face {
	src: local("Moon 2.0 Light"),
		url("http://127.0.0.1:5500/CalcProj/MoonFont/Moon2.0-Light.woff")
			format("woff");
	font-family: "Integral CF UltraBold";
	src: local("Integral CF UltraBold"),
		url("http://127.0.0.1:5500/IntegralFont/Webfont/IntegralCF-Heavy.woff")
			format("woff");
}

@font-face {
	font-family: "Wavehaus Thin";
	src: local("Wavehaus Thin"),
		url("http://127.0.0.1:5500/WavehausSansFont/Web%20Font/Wavehaus-28Thin.woff")
			format("woff");
}
/* fonts */

/* Parallax */
html {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0%;
	padding: 0%;
	perspective: 1px;
	transform-style: preserve-3d;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

header {
	box-sizing: border-box;
	min-height: 100vh;
	padding: 30vw 0 5vw;
	position: relative;
	transform-style: inherit;
	width: 100vw;
}

header #theHeading {
	margin-top: -100px;
}

header,
header:before {
	background: 50% 50% / cover;
}

header::before {
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	background-image: url("http://127.0.0.1:5500/images/nick-hillier-yD5rv8_WzxA-unsplash.jpg");
	background-size: cover;
	transform-origin: center center 0;
	transform: translateZ(-1px) scale(2);
	z-index: -1;
	min-height: 100vh;
}
/* Parallax */

/* Text Formatting and The Input Box*/
#theHeading {
	color: #d4c3ae;
	border: 0px;
	font-family: "Integral CF UltraBold", sans-serif;
	font-size: 90px;
	text-align: center;
	margin: 0;
	padding: 1em 0;
}

#howTall {
	text-align: center;
	font-size: 60px;
	font-family: "Integral CF UltraBold";
	color: #fcfbf5;
}

/*The input ting*/

#in {
	text-align: center;
	position: relative;
	padding: 15px 0 0;
	margin-top: 10px;
	width: 50%;
}

#heightInput {
	font-family: "Wavehaus Thin";
	width: 100%;
	border: 0;
	border-bottom: 2px solid var(--gray);
	outline: 0;
	font-size: 1.3rem;
	color: var(--white);
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}
#heightInput::placeholder {
	color: transparent;
}

#heightInput:placeholder-shown ~ .form__label {
	font-size: 1.3rem;
	cursor: text;
	top: 20px;
}
.form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: var(--gray);
}
#heightInput:focus {
	padding-bottom: 6px;
	font-weight: 700;
	border-width: 3px;
	border-image: linear-gradient(to right, var(--primary), var(--secondary));
	border-image-slice: 1;
}
#heightInput:focus ~ .form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	color: var(--primary);
	font-weight: 700;
}
/* Text Formatting and The Input Box*/
#heightInput {
	&:required,
	&:invalid {
		box-shadow: none;
	}
}
