/* variables */
/* variables */
/* fonts */
@font-face {
	src: local("Moon 2.0 Light"),
		url("http://127.0.0.1:5500/CalcProj/MoonFont/Moon2.0-Light.woff")
			format("woff");
	font-family: "Integral CF UltraBold";
	src: local("Integral CF UltraBold"),
		url("http://127.0.0.1:5500/IntegralFont/Webfont/IntegralCF-Heavy.woff")
			format("woff");
}

@font-face {
	font-family: "Wavehaus Thin";
	src: local("Wavehaus Thin"),
		url("http://127.0.0.1:5500/WavehausSansFont/Web%20Font/Wavehaus-28Thin.woff")
			format("woff");
}

/* fonts */
* {
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	display: none;
}

.theHeading {
	font-family: "Integral CF Ultrabold", sans-serif;
	font-weight: 600;
	background: -webkit-linear-gradient(#88dd9a, #1a57b4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 90px;
}

#font1H4 {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 60px;
	background: -webkit-linear-gradient(#00ffae, #ffe600);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: -2px;
	margin-right: 2px;
}

#font2H4 {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 60px;
	background: -webkit-linear-gradient(#00ffae, #ffe600);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: -2px;
	margin-right: 2px;
}

#div1 {
	background-image: url(http://127.0.0.1:5500/images/103.jpg);
	/* Set a specific height and weight */
	height: 100vh;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 38vh;
}

#div2 {
	background: #5ccadd;
	/* Set a specific height */
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 15vh;
	height: 30vh;
}

#div3 {
	background-image: url("http://127.0.0.1:5500/images/desert.jpg");
	height: 100vh;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 30vh;
	height: 40vh;
}

#div4 {
	background: #5ccadd;
	height: 100vh;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 15vh;
	height: 30vh;
}

#div5 {
	background-image: url("http://127.0.0.1:5500/images/dune.jpg");
	height: 100vh;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 30vh;
	height: 40vh;
}

#sub {
	/* Create the parallax scrolling effect */
	background-color: #5ccadd;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top: 10vh;
	padding: 10vh;
	text-align: center;
}

button {
	font-family: "Poppins";
	font-weight: 600;
	font-size: xx-large;
	border-radius: 3em;
	border-color: #76bc1a;
	color: rgb(0, 0, 0);
	background-color: #00ffae;
	background-position: 0 0;
	background-size: 150%;
	width: 200px;
	height: 50px;
	border: 0;
	cursor: pointer;
}

button:focus {
	outline: 0;
}

button:hover {
	background-position: 100px;
}

#yes {
	background: -webkit-linear-gradient(#9dff00, #ffe600);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: -2px;
}

#output {
	padding: 5vh;
	text-align: center;
	border-bottom: -25vh;
	padding-top: -25vh;
	background: -webkit-linear-gradient(#9dff00, #ffe600);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: -2px;
	font-family: "Poppins";
	font-weight: 600;
	font-size: xx-large;
}

input {
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-size: larger;
	color: black;
	border-radius: 2rem;
	outline: none;
	border: 0;
	background: rgba(255, 255, 255, 0.5);
}

/*# sourceMappingURL=style.css.map */
