@font-face {
    font-family: 'Moon 2.0 Light';
    font-style: normal;
    font-weight: normal;
    src: local('Moon 2.0 Light'), url('http://127.0.0.1:5500/CalcProj/MoonFont/Moon2.0-Light.woff') format('woff');
}

#theHeading {
    font-family: 'Moon 2.0 Light', sans-serif;
    font-size: 50px;
    text-align: center;
}

#theHeading2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
}