/* variables */
/* variables */
/* fonts */
@font-face {
	src: local("Moon 2.0 Light"),
		url("http://127.0.0.1:5500/CalcProj/MoonFont/Moon2.0-Light.woff")
			format("woff");
	font-family: "Integral CF UltraBold";
	src: local("Integral CF UltraBold"),
		url("http://127.0.0.1:5500/IntegralFont/Webfont/IntegralCF-Heavy.woff")
			format("woff");
}

@font-face {
	font-family: "Wavehaus Thin";
	src: local("Wavehaus Thin"),
		url("http://127.0.0.1:5500/WavehausSansFont/Web%20Font/Wavehaus-28Thin.woff")
			format("woff");
}

/* fonts */

* {
	border: 0;
	padding: 0;
	margin: 0;
}

.div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

#theHeading {
	font-family: "Integral CF Heavy";
	color: #ffffff;
	font-size: 80px;
}

h4 {
	font-family: "Wavehaus Thin";
	font-size: 30px;
	color: #ffffff;
}

.div:nth-child(1) {
	background-image: url(http://127.0.0.1:5500/images/joost-crop-qLCu1i6L23U-unsplash.jpg);
	background-size: cover;
}
.div:nth-child(2) {
	background: coral;
}
