@font-face {
    font-family: 'Moon 2.0 Light';
    font-style: normal;
    font-weight: normal;
    src: local('Moon 2.0 Light'), url('http://127.0.0.1:5500/CalcProj/MoonFont/Moon2.0-Light.woff') format('woff');
    font-family: 'Integral CF UltraBold';
    src: local('Integral CF UltraBold'), url('http://127.0.0.1:5500/IntegralFont/Webfont/IntegralCF-Heavy.woff') format('woff');
}

#theHeading {
    font-family: 'Integral CF UltraBold', sans-serif;
    font-size: 75px;
    text-align: center;
    top: center;
}