@font-face {
	font-family: "Integral CF UltraBold";
	src: local("Integral CF UltraBold"),
		url("IntegralFont/Webfont/IntegralCF-Heavy.woff") format("woff");
}
@font-face {
	font-family: "Sailec";
	src: local("Sailec"), url("SailecThinItalic.woff") format("woff");
}

html {
	background: url("img/img5.jpg");
	background-size: cover;
	padding: 0px;
}

p {
	background: linear-gradient(to bottom right, #00fff2, #1000f5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.i {
	font-family: "Integral CF UltraBold";
	background: linear-gradient(to bottom right, #1000f5, #bebebe);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#center {
	font-family: "Sailec";
	background: rgba(255, 255, 255, 0.164);

	backdrop-filter: blur(20px);

	width: 500px;
	padding: 70px 75px;
	border-radius: 25px;

	position: absolute; /* Abstracts from the rest of the document. */
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;

	text-align: center;
}

p {
	font-family: "Sailec";
	font-weight: bold;
	color: whitesmoke;
	backdrop-filter: blur(0px);
}
input {
	width: 100px;
	padding: 5px;
}

button {
	padding: 5px 15px;
	background: royalblue;
	color: white;
	cursor: pointer;
}

.series,
span {
	font-family: "Roboto Mono";
	font-weight: normal;
}

.result {
	font-size: 18px;
	font-weight: 800;
}

span {
	font-size: 20px;
}
