@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
}
.myHead {
	font-family: Inter;
	font-weight: 800;
	letter-spacing: -0.75px;
	@apply text-8xl;
	/* position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center; */
}

.holder {
	display: flex;
	height: 100vh;
	background-color: #c3ff00;
	background-size: cover;
}

.typing {
	position: relative;
	margin-left: 10px;
}

.typing::after {
	content: "";
	position: absolute;
	right: -5px;
	width: 1px;
	height: 5%;
	border-right: 2px solid black;
}
