@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.mainText {
	@apply text-xl;
	@apply mb-2;
	font-family: SF Mono;
	color: black;
}

.mainText2 {
	font-family: Inter;
	font-weight: 200;
	@apply text-base;
	color: black;
}
