@font-face {
	font-family: "Integral CF UltraBold";
	src: local("Integral CF UltraBold"),
		url("IntegralFont/Webfont/IntegralCF-Heavy.woff") format("woff");
}
@font-face {
	font-family: "Sailec";
	src: local("Sailec"), url("SailecThinItalic.woff") format("woff");
}

body {
	background-image: url("550656.jpg");
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

body::-webkit-scrollbar {
	display: none;
}

#titlehead {
	font-family: "Integral CF UltraBold";
	text-align: center;
	background: -webkit-linear-gradient(#ff0000, #ff5e00);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 65px;
}

br {
	width: 12rem;
}

.questionHeading {
	background: -webkit-linear-gradient(#d0ff00, #00edf5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: Integral CF UltraBold;
}

.customizeQ {
	background: -webkit-linear-gradient(#ff5e00, #ff0000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: Sailec;
	font-size: 40px;
}

#ButtonBOX {
	padding-top: 2.5rem;
	padding-bottom: 1.5rem;
}

button {
	text-align: center;
	font-family: "Integral CF UltraBold", sans-serif;
	font-size: larger;
	color: white;
	border-radius: 2rem;
	font-weight: 600;
	font-size: medium;
	border-radius: 3em;
	background: linear-gradient(to bottom right, #ff0000f1, #ffa600ea);
	background-position: 0 0;
	background-size: 150%;
	width: 200px;
	height: 50px;
	border: 0;
	cursor: pointer;
}

button:focus {
	outline: 0;
}

button:hover {
	background-position: 100px;
}

#sub {
	transition: ease 0.4s;
}

#sub:hover {
	transition: ease 0.4s;
}

#reload {
	margin-left: 10px;
	transition: ease 0.4s;
}

#reload:hover {
	transition: ease 0.4s;
}

#separate {
	padding-top: -10px;
	padding-bottom: 20px;
}

.ifWrong {
	padding-top: 20px;
	background: -webkit-linear-gradient(#39388a, #04bba2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: Poppins;
	font-size: 20px;
}
input {
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-size: larger;
	color: white;
	border-radius: 2rem;
	outline: none;
	border: 0;
	background: linear-gradient(to bottom right, #ff0000a9, #ffa600a4);
}

#quizContainer {
	width: 40rem;
	padding: 2rem;
	background-color: rgba(229, 255, 0, 0.781);
	border-radius: 1rem;
	margin: auto;
}

#mark {
	font-family: Integral CF UltraBold;
	padding-bottom: 5px;
}
